<!-- iframe main page -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BookBook-Search</title>
    <style>
        @import url("../static/css/fontstyle.css");
        p {
            font-family: 'NanumGothic';
        }
    </style>
</head>
<body>
    <p style="margin: 0 auto;" style="text-align:center;">
        이 책을 읽은 다른 독자들의 반응은?
    </p>
    <img id="stateImg" src="{{ url_for('static', filename='img/magnifier.png') }}" width="300" height="300" style="margin: 0 auto;">
</body>
</html>